
@mixin flex($direction: row, $spacing: space-between, $aligning: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $spacing;
    align-items: $aligning;
}

@mixin backdrop() {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

@mixin absoluteCenter() {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}